<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Single Browser Test Suite" parallel="false">

    <test name="Chrome Tests" preserve-order="true">
        <parameter name="headless" value="true"/>
        <groups>
            <run>
<!--                <include name="dropdown"/>-->
                <include name="login"/>

            </run>
        </groups>

        <classes>
<!--            <class name="tests.DropDownTest"/>-->
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
